.benefits {
  padding-bottom: 30px;
}
.list-benefits__item {
  &::before {
    content: '';
    width: 16px;
    height: 20px;
    fill: var(--orange-color);
    background-image: url(../images/svg/fire.svg);
  }
}
