.problems {
  padding-top: 46px;
}

.list-problems {
  counter-reset: number 0;
}
.list-problems__item {
  counter-increment: number;
  &::before {
    content: '' counter(number);
    width: 10px;
    height: 2px solid;
  }
}
